
.color-p{
    background-color: #68417f;
}

.color-s{
    background-color: #219bc3;
}

.color-t{
    background-color:#c66aab;
}

.color-l{
    color: #f2cfda;
}

.color-l:hover{
    color: #f8f6f7;
}
.color-s:hover{
    background-color: #2493b8;
}

.color-lc{
    color: #331846;
}

body {
    max-width: 100%;
}

.ancho {
    width: 80%;
}