.letra {
    color: blue;
}

.color-primario{
    background-color: #68417f;
}

.color-secundario{
    background-color: #219bc3;
}

.color-terciario{
    background-color:#c66aab;
}

.color-letra{
    color: #f2cfda;
}

.color-letra:hover{
    color: #f8f6f7;
}