
.color-p{
    background-color: #68417f;
}

.color-s{
    background-color: #219bc3;
}

.color-t{
    background-color:#c66aab;
}

.color-l{
    color: #f2cfda;
}

.color-l:hover{
    color: #f8f6f7;
}

.color-lc{
    color: #331846;
}